<div id="quickfilter" class="form-horizontal" <%= params[:filters].blank? ? raw("style='display: none;'") : nil %>>
  <%= form_tag((@stream ? stream_messages_path(@stream) : messages_path), :method => "GET", :id => "quickfilter-form") do -%>
    <fieldset>
      <legend>Quickfilter</legend>
      
      <div id="qf-fields">
      <div class="control-group">
        <label class="control-label" for="filters[message]">Message</label>
        <div class="controls">
          <%= text_field_tag "filters[message]", params[:filters].blank? ? nil : params[:filters][:message], :class => "input-xlarge" %>
          <%=raw tooltip("Message-search-syntax") %>
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label" for="filters[date]">Time frame</label>
        <div class="controls">
          <%= text_field_tag "filters[date]", params[:filters].blank? ? nil : params[:filters][:date], :class => "input-xlarge" %>
          <%=raw tooltip("Timeframe-Filters") %>
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label" for="filters[facility]">Facility</label>
        <div class="controls">
          <%= text_field_tag "filters[facility]", params[:filters].blank? ? nil : params[:filters][:facility], :class => "input-xlarge" %>
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label" for="filters[file]">Filename</label>
        <div class="controls">
          <%= text_field_tag "filters[file]", params[:filters].blank? ? nil : params[:filters][:file], :class => "input-xlarge" %>
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label" for="filters[line]">Line number</label>
        <div class="controls">
          <%= text_field_tag "filters[line]", params[:filters].blank? ? nil : params[:filters][:line], :class => "input-xlarge" %>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="filters[severity]">Severity</label>
        <div class="controls">
          <%= select_tag "filters[severity]", raw("<option></option>" + options_for_select(get_ordered_severities_for_select, :selected => get_quickfilter_selected(params[:filters], :severity))) %>
          <%= check_box_tag "filters[severity_above]", true, get_quickfilter_selected(params[:filters], :severity_above) %>
          or higher
        </div>
      </div>
     
      <% if @host.blank? %>
        <div class="control-group">
          <label class="control-label" for="filters[host]">Host</label>
          <div class="controls">
            <%= select_tag "filters[host]", raw("<option></option>" + options_for_select(Host.all.collect {|host| [ h(host.host) ]}.sort, :selected => get_quickfilter_selected(params[:filters], :host, :bson_id))) %>
          </div>
        </div>
      <% end %>

      <% unless @additional_filters.blank? %>
        <% @additional_filters.each do |k,v| %>
          <%= text_field_tag "filters[additional][keys][]", (k.to_s.at(0) == '_' ? k.to_s[1..k.to_s.length] : k.to_s), :class => "input-xlarge qf-additional-field-key" %>
          <div class="controls">
            <%= text_field_tag "filters[additional][values][]", v, :class => "input-xlarge" %>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="form-actions">
      <button type="button" id="qf-add-additional-field" class="btn">Add additional field</button>
      <button type="submit" class="btn btn-primary">Run filter</button>
    </div>
  </fieldset>

  <% if !@stream.blank? %>
    <%= hidden_field_tag "stream_id", @stream.id %>
  <% end %>
  <% if !@host.blank? %>
    <%= hidden_field_tag "host_id", @host.host %>
  <% end %>
<% end -%>

<% unless @quickfilter_result_count.blank? %>
  <div>
    <br />Quickfilter hit <span class="highlighted"><%= number_with_delimiter(@quickfilter_result_count, :delimiter => '.')  %></span> messages.
    <%= link_to "Download filtered messages", "#", :id => "show-download-options" %>
    <%= form_tag(messages_path, :method => "GET", :id => "download-options", :class => "form-inline pull-right", :style => "display:none;") do -%>
      <% params[:filters].each do |key, value| %>
        <% if key == "additional" %>
          <% value["keys"].each do |k| %>
            <%= hidden_field_tag "filters[#{key}][keys][]", k %>
          <% end %>
          <% value["values"].each do |v| %>
            <%= hidden_field_tag "filters[#{key}][values][]", v %>
          <% end %>
        <% else %>
          <%= hidden_field_tag "filters[#{key}]", value %>
        <% end %>
      <% end %>
      <%= hidden_field_tag "format", "json" %>
      <%= text_field_tag "number_messages", nil, :placeholder => "Number of messages" %>
      <button type="submit" class="btn">Download</button>
    <% end %>
  </div>
<% end %>

</div>

<% unless params[:filters].blank? %>
  <div id="messages-quickfilter-graph">
    <%= image_tag "loading.gif", :class => "ajaxloader" %>
  </div>
  <%=raw flot_graph_loader(
      :inject => "#messages-quickfilter-graph",
      :filters => params[:filters],
      :quickfilter_graph => true,
      :interval => (params[:interval] || "hour"),
      :stream_id => @stream.blank? ? nil : @stream.id,
      :hostname => @host.blank? ? nil : @host.host
    )
  %>
  <ul id="messages-quickfilter-interval-selector">
    <li class="messages-quickfilter-interval-selector-first">Interval:</li>
    <% ["year", "month", "week", "day", "hour", "minute"].each do |i| %>
      <li>
        <a href="#" onClick="window.location.href = document.URL + '&interval=<%= i %>'; return false;">
          <% name = i.capitalize + "s" %>
          <% if params[:interval] == i or (params[:interval].blank? and i == "hour") %>
            <strong><%= name %></strong>
          <% else %>
            <%= name %>
          <% end %>
        </a>
      </li>
    <% end %>
  </ul>
  <br style="clear: both;" />

<% end %>
