<%
message_length = Setting.get_message_length(current_user)
additional_columns ||= []
%>

<script type="text/javascript">
  // Inline to avoid re-binding problems when loaded via AJAX. lolzomg JS fuckery

  $(document).ready(function(){
    // Highlight messages from today.
    $(".messages-from-today-link").bind("click", function() {
      if ($(this).hasClass("active")) {
        $("tr").removeClass("messages-today");
        $(this).removeClass("active");
        $(this).attr("src", "/images/icons/sun.png");
      } else {
        d = new Date();
        $(".udate-" + d.getFullYear() + "-" + (d.getMonth()+1) + "-" + d.getDate()).addClass("messages-today");
        $(this).attr("src", "/images/icons/sun_active.png");
        $(this).addClass("active");
      }
    })
  });
</script>

<table class="table table-condensed table-striped messages-table<%= defined?(@inline_version) ? " messages-table-inline" : nil %>">
  <thead>
    <tr>
      <th class="messages-table-date">Date</th>
      <th>Host</th>
      <th>Sev.</th>
      <th>Facility</th>
      <% additional_columns.each do |col| %>
      <th><%= col %></th>
      <% end %>
      <th>Message</th>
      <th class="messages-table-tools">
        <% unless defined?(@inline_version) %>
          <i class="icon-time"></i>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% i = 0 %>
    <% @messages.each do |message|  %>
      <tr data-message-id="<%= message.id %>"
          class="message-row udate-<%= message.uniform_date_string %> <%= "highlighted" if message.id.to_s == params[:message_id] %>">
        <td><%= time_to_formatted_s(Time.at(message.created_at)) %></td>
        <td style="white-space: nowrap;"><%= message.host.blank? ? nil : h(message.host) %></td>
        <td><%= syslog_level_to_human(message.level) %></td>
        <td><%= message.facility %></td>
        <% additional_columns.each do |col| %>
          <td><%= message.additional_fields[col].blank? ? "-" : message.additional_fields[col] %></td>
        <% end %>
        <td colspan="2">
          <%= message.message[0..message_length] %>
          <%=raw (message.message.length > message_length) && !defined?(dont_show_links) ? "<span class='light'>...</span>" : nil %>
        </td>
      </tr>
      <% i+=1 %>
    <% end %>
  </tbody>
</table>

<% unless defined? inline_version %>
  <% append_params = Array.new if !defined?(append_params) or append_params.blank? %>

  <ul class="pager">
    <% unless current_page <= 1 %>
      <li class="previous"><%= link_to "previous page", params.merge(:page => previous_page), :class => "previous-page" %></li>
    <% end %>

    <% if total_messages > (Message::LIMIT*current_page) %>
     <li class="next"><%= link_to "next page", params.merge(:page => next_page), :class => "next-page" %></li>
    <% end %>
  </ul>
<% end %>
