<h1>LDAP</h1>
<div class="description">
  LDAP auth.
  See <a href="http://www.ietf.org/rfc/rfc2255.txt">RFC2255</a>
</div>

<div class="setting">

  <%= form_tag store_settings_path do -%>

    <%= hidden_field_tag 'setting_type', Setting::TYPE_LDAP %>

    <h4><label>Enabled</h4>
    <%= check_box_tag :enabled, @ldap_settings[:enabled], @ldap_settings[:enabled] %>
    <br />Enable LDAP authorization.

    <h4><label>Server</h4>
    <%= text_field_tag :server, @ldap_settings[:server] %>
    <br />

    <h4><label>Port</h4>
    <%= text_field_tag :port, @ldap_settings[:port] %>
    <br />

    <h4><label>Base DN</h4>
    <%= text_field_tag :base_dn, @ldap_settings[:base_dn] %>
    <br />The base object of the LDAP search.

    <h4><label>Search scope</h4>
      <%= select_tag :search_scope, @ldap_scope_variants.collect{ |v|
                                            "<option #{ "selected" if @ldap_settings[:search_scope] == v[:value] } value=\"#{v[:value]}\">#{v[:text]}</option>"
                                    }.join.html_safe  %>
    <br />The scope construct is used to specify the scope of the search to perform in the given LDAP server.

    <h4><label>Bind DN</h4>
    <%= text_field_tag :bind_dn, @ldap_settings[:bind_dn] %>
    <br />The distinguished name for a client to use when authenticating to an LDAP directory during search.

    <h4><label>Bind password</h4>
    <%= text_field_tag :bind_password, @ldap_settings[:bind_password] %>
    <br />The password for a client to use when authenticating to an LDAP directory during search.

    <h4><label>Username attribute</h4>
    <%= text_field_tag :username_attr, @ldap_settings[:username_attr] %>
    <br />LDAP object attribute that contains username.

    <h4><label>Email attribute</h4>
    <%= text_field_tag :email_attr, @ldap_settings[:email_attr] %>
    <br />LDAP object attribute that contains email address.

    <h4><label>Display name attribute</h4>
    <%= text_field_tag :name_attr, @ldap_settings[:name_attr] %>
    <br />LDAP object attribute that contains full name.

    <h4><label>Admins filer</h4>
    <%= text_field_tag :filter_admins, @ldap_settings[:filter_admins] %>
    <br />Who is admin?

    <h4><label>Readers filter</h4>
    <%= text_field_tag :filter_readers, @ldap_settings[:filter_readers] %>
    <br />Who is readers?

    <br /><%= awesome_submit_link 'Store' %>

  <% end -%>

</div>

